@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digitalix";
  src: url("/assets/digitalix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoodTimes";
  src: url("/assets/goodtimes.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.cutted {
  background:
    linear-gradient(120deg, transparent 20px, rgba(255, 255, 255, 0.1) 0) top
      left,
    linear-gradient(-60deg, transparent 20px, rgba(255, 255, 255, 0.1) 0) bottom
      right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.tv {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
}
@keyframes b {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow:
      0 0 5px #ffd700,
      0 0 15px #ffd700,
      0 0 20px #ffd700,
      0 0 40px #ffd700,
      0 0 60px #ff0000,
      0 0 10px #ff8d00,
      0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow:
      0 0 5px #ffd700,
      0 0 15px #ffd700,
      0 0 20px #ffd700,
      0 0 40px #ffd700,
      0 0 60px #ff0000,
      0 0 10px #ff8d00,
      0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.neon {
  /* font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh); */
  text-shadow:
    0 0 5px #ffd700,
    0 0 15px #ffd700,
    0 0 20px #ffd700,
    0 0 40px #ffd700,
    0 0 60px #ff0000,
    0 0 10px #ff8d00,
    0 0 98px #ff0000;
  animation: blink 8s infinite;
  -webkit-animation: blink 8s infinite;
}

.clip-path {
  clip-path: url(#myClip);
}

.clipped-corner {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
}

.button-cutted {
  --b: 2px; /* border */
  --s: 20px; /* size of the cut */
  --c: #ffd700;

  border: var(--b) solid var(--c);
  border-radius: 4px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--s)),
    calc(100% - var(--s)) 100%,
    0 100%
  );
  background: linear-gradient(
      -45deg,
      var(--c) calc(0.707 * var(--s) + var(--b)),
      #0000 0
    )
    border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
