@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digitalix";
  src: url("/assets/digitalix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoodTimes";
  src: url("/assets/goodtimes.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.clip-path {
  clip-path: url(#myClip);
}

.bg-nebula::before {
  content: "";
  background-image: url("/images/nebula.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}

.clipped-corner {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
}

.button-cutted {
  --b: 2px; /* border */
  --s: 20px; /* size of the cut */
  --c: #ffd700;

  border: var(--b) solid var(--c);
  border-radius: 4px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--s)),
    calc(100% - var(--s)) 100%,
    0 100%
  );
  background: linear-gradient(
      -45deg,
      var(--c) calc(0.707 * var(--s) + var(--b)),
      #0000 0
    )
    border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
